*{
	padding: 0px;
	margin: 0px;
	font-family: monospace;
}


body{
	background-color: #efe9d8;
	border: 10px;
	font-family: monospace;
	background-image: none;
}

h1 {
font-size: 7em;
line-height: 0.3;
text-align: center;
padding-bottom: 30PX;
padding-top: 30px;
background-color: #ADA99C;
margin-bottom: 0px;
color: black;
transition: all .2s;
}

h1:hover {
	transform: scale(1.15);
}

h2 {
	font-family: monospace;
	font-size: 3.5em;
	text-align: center;
	margin: 3rem 0;

}

h3{
	font-size: 1.5rem;
	gap: rem;
}

ul {
	font-family: monospace;
	font-size: 2em;
	padding: 0px;
	margin: 0px; 
	list-style: none;
}


form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: .5rem;
	gap: .3rem;
}

form fieldset {
	padding: 2rem;
}

.boton {
	padding: .3rem;
	width: 100%;
	margin: .2rem;
	background-color: #ADA99C;
}

form div input {
	padding: .2rem;
}

input,textarea {
	border: none;
	border-radius: .2rem;
	width: 100%;
}

p {
	font-size: 20px
}

.topnav {
	text-align: center;
	background-color: #ADA99C;
	padding: 15px;
	display: flex;
	flex-direction: column;
}


a {
	text-decoration: none;
	color: black;
}

.catalogo {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 2rem;

}

.imagen {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 2rem;
	height: 30rem;
	width: 30rem;
	text-align: center;
}

img{
 height: 20rem;
 width: 20rem;
}

.catalogo div{
	display: flex;
	flex-direction: column;
	align-items: center;
} 

main{
	margin-bottom: 3rem;
	width: 90%;
	margin: auto;
}

footer {
	font-size: 16px;
	background-color: #ADA99C;
	padding: 1rem;
	margin-top: 5rem;
}

@media all and (max-width: 425px){
	h1{
		font-size: 5em;
	}

	img{
		width: 100%;
	}

	form{
		padding: 0px;
	}
	
}

li {
	padding: .4rem;
	transition: all .3s;

}

li:hover {
	background-color: #efe9d8;


}
